@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
 font-family: "Inter", sans-serif;
 font-size: 15px;
}

.chat-interface {
 height: 100vh;
 display: flex;
 flex-direction: column;
 background: linear-gradient(135deg, rgb(243,192,76), rgb(51,118,120));
}

.heading {
 font-size: 24px;
 font-weight: bold;
 color: #1b3875;
 text-align: center;
 margin: 2px 0;
 text-transform: uppercase;
 letter-spacing: 2px;
 box-shadow: 0px 4px 2px -2px gray;
 padding-top: 2px;
}
